*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffff9f;
}

h1{
    text-align: center;
    margin: 10px;
    font-size: 40px;
}

.box-info{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px
}

.box-points{
    display: flex;
    justify-content: center;
}

.box-points .box{
    margin: 5px;
}

.box-btns{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.box-btns button{
    width: 150px;
    height: 150px;
    font-size: 80px;
    border: solid 1px black;
    border-radius: 10px;
}

.box-btns button:hover{
    cursor: pointer; 
    opacity: 0.9;
}